form {
  width: 400px;
  height: 400px;
  border: 8px solid black;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}
.formContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.author {
  font-size: 30px;
  font-weight: bolder;
}
.mainContainer {
  background-color: #61dafb;
}
button {
  background-color: black;
  color: white;
}
.cross {
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  font-weight: bolder;
  display: inline-block;
  text-align: end;
  position: absolute;
  right: 0;
  margin-right: 10px;
  width: 23px;
}
.checkbox {
  position: absolute;
  right: 0;
  margin-right: 40px;
  transform: scale(1.7);
}
.cross:hover {
  cursor: pointer;
  background-color: rgb(122, 118, 118);
}
li {
  margin-top: 10px;
}
